# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Software_Arch\MeProdRemover\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
